.box-css.col-md-8
  %h1 Frequently Asked Questions
  %h4 What is a sourdough starter?
  %p A sourdough starter is a yeast culture that you can use to make bread, in place of commercial fast-action yeasts.
  %h4 What does one look like?
  %p Something like this:
  %img{:src => "assets/sourdough_starter.jpg"}
  %h4 Is it quite a hassle to look after?
  %p
  No. It just needs feeding with flour and water every so often.  If you bake bread a lot, it will need feeding frequently, but if you only bake bread once a week or less, you can just stick it in the fridge and forget about it until you need it again.
  %h4 But making sourdough bread is complicated, right?
  %p
  No again.  At least not once you've got the hang of it.  Check out this basic recipe.
  %h4 Do I need special equipment and ingredients?
  %p
  You need flour, water, salt, a big bowl, a baking tray and an oven.  A proving basket is optional.
  %h4 Does it take forever to make a loaf?
  %p End-to-end, yes, it takes quite a while, but for most of that time you can be doing something else (like going to work, writing a best-selling novel, going for a run, watching TV, sleeping, staring out the window...).



